$primary-color: #e7877d;
$secondary-color: #949494;
header {
    mat-toolbar {
        justify-content: space-between;
        background-color: #fff;
        .logo {
            max-height: 49px;
            object-fit: contain;
        }
        .user {
            width: 28px;
            height: 28px;
            object-fit: contain;
            border-radius: 50%;
        }
        mat-tab-group {
            margin-top: 15px;
            mat-icon {
                margin-right: 12px;
            }
        }
         ::ng-deep {
            .mat-tab-header {
                border: 0;
            }
            .mat-tab-label,
            .mat-tab-link {
                font-size: 16px;
                letter-spacing: 1px;
            }
            .mat-tab-label-active mat-icon {
                color: $primary-color;
            }
            .mat-tab-label.mat-tab-label-active {
                opacity: 1;
            }
            .mat-tab-label-active {
                span {
                    color: #000;
                }
            }
        }
        .user-name {
            font-size: 1rem;
            padding: 0 6px 0 6px;
        }
    }
}