<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-2">
            <div class="left-side-wrapper">
                <img src="assets/images/user.jpg" alt="" class="user-avtar" />
                <div class="user-name">Robin Wang</div>
                <div class="user-quote">
                    Life starts at the end of your comfort zone
                </div>

                <div class="navigation-btn">
                    <button class="primary-button mt-3">
            <mat-icon> chat_bubble</mat-icon> Message
          </button>
                    <ul>
                        <li><button mat-button class="active">Chats</button></li>
                        <li><button mat-button class="deactive">Send Message</button></li>
                    </ul>

                    <button class="white-button mt-3">
            <mat-icon> chat_bubble</mat-icon> Groups
          </button>
                    <ul>
                        <li><button mat-button class="active">History</button></li>
                        <li><button mat-button class="deactive">Crete Groups</button></li>
                    </ul>

                    <button class="white-button mt-3">
            <mat-icon> chat_bubble</mat-icon> Video Calls
          </button>
                    <ul>
                        <li><button mat-button class="active">History</button></li>
                        <li><button mat-button class="deactive">Calls</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="title-lg d-flex align-items-center">
                <mat-icon class="active icon-lg me-4"> chat_bubble</mat-icon> <span>Message</span>
            </div>
            <div class="chat-window shadow">
                <div class="users-area">
                    <div class="head user-head">
                        <div class="title-md">Chats</div>
                        <div>29/30</div>
                    </div>
                    <div class="users">
                        <ul class="p-0 m-0">
                            <li class="current-user">
                                <div class="user-box">
                                    <div class="user-details">
                                        <img src="assets/images/user.jpg" alt="user" class="chat-avatar">
                                        <div>
                                            <div class="user-name">Olivia Sol</div>
                                            <div class="last-msg">I'll be send the mail soon.</div>
                                        </div>
                                    </div>
                                    <div class="bottom-details">
                                        <div class="date">19 Jan, 2018 | 03:49 pm</div>
                                        <div class="replies">
                                            <mat-icon class="text-success">remove_red_eye</mat-icon> |
                                            <mat-icon> bar_chart</mat-icon> 290/300
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="user-box">
                                    <div class="user-details">
                                        <img src="assets/images/user.jpg" alt="user" class="chat-avatar">
                                        <div>
                                            <div class="user-name">Olivia Sol</div>
                                            <div class="last-msg">I'll be send the mail soon.</div>
                                        </div>
                                    </div>
                                    <div class="bottom-details">
                                        <div class="date">19 Jan, 2018 | 03:49 pm</div>
                                        <div class="replies">
                                            <mat-icon class="text-success">remove_red_eye</mat-icon> |
                                            <mat-icon> bar_chart</mat-icon> 290/300
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="user-box">
                                    <div class="user-details">
                                        <img src="assets/images/user.jpg" alt="user" class="chat-avatar">
                                        <div>
                                            <div class="user-name">Olivia Sol</div>
                                            <div class="last-msg">I'll be send the mail soon.</div>
                                        </div>
                                    </div>
                                    <div class="bottom-details">
                                        <div class="date">19 Jan, 2018 | 03:49 pm</div>
                                        <div class="replies">
                                            <mat-icon class="text-success">remove_red_eye</mat-icon> |
                                            <mat-icon> bar_chart</mat-icon> 290/300
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="user-box">
                                    <div class="user-details">
                                        <img src="assets/images/user.jpg" alt="user" class="chat-avatar">
                                        <div>
                                            <div class="user-name">Olivia Sol</div>
                                            <div class="last-msg">I'll be send the mail soon.</div>
                                        </div>
                                    </div>
                                    <div class="bottom-details">
                                        <div class="date">19 Jan, 2018 | 03:49 pm</div>
                                        <div class="replies">
                                            <mat-icon class="text-success">remove_red_eye</mat-icon> |
                                            <mat-icon> bar_chart</mat-icon> 290/300
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="chat-area">

                </div>
            </div>
        </div>
    </div>
</div>