@import "__variable";
@import "__mixin";

.left-side-wrapper {
    text-align: center;
    @include hideInMobile;
    .user-avtar {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        object-fit: contain;
    }
    .user-name {
        font-size: 1.3rem;
        font-weight: 500;
        margin: 1rem 0 0.25rem;
    }
    .user-quote {
        font-size: 0.8rem;
        padding: 0 2rem;
        color: $secondary-color;
        font-weight: 400;
    }
    .navigation-btn {
        width: 80%;
        margin: auto;
        ul {
            padding-left: 0;
            li {
                list-style: none;
                button {
                    text-align: left;
                    width: 100%;
                    padding-left: 70px;
                }
            }
        }
    }
}

.chat-window {
    display: flex;
    background: #fff;
    border-radius: 6px;
    height: 74vh;
    overflow: hidden;
    @include breakpoint(lg){
        height: auto;
    }
    @include breakpoint(xxl){
        height:auto;
    }
    .users-area {
        width: 30%;
        border-right: 1px solid $border-color;
        @include breakpoint(lg){
            display:none;
        }
        .title-md {
            font-weight: 600;
            font-size: 18px;
            color: #555656;
        }
    }
    .user-head {
        justify-content: space-between;
    }
    .chat-area {
        width: 70%;
        @include breakpoint(lg){
            width: 100%;
        }
        ::ng-deep {
            .mat-tab-label{
                min-width: 100px;
                padding: 0 16px;
                margin: 0 8px;
            }
        }
        .head {
            padding: 0 20px !important;
            height: 65px;
            mat-tab-group {
                margin-top: 5px;
            }
            mat-icon {
                margin-right: 8px;
            }
             ::ng-deep {
                .mat-tab-label {
                    height: 60px;
                }
                .mat-tab-header {
                    border: 0;
                }
                .mat-tab-label-active mat-icon {
                    color: $primary-color;
                    position: relative;
                    &:after{
                        content: "";
                        box-shadow: 2px 4px 20px 1px #e7877da8;
                        position: absolute;
                        height: 7px;
                        width: 16px;
                        left: 3px;
                        top: 7px;
                        background-color: rgba(255, 255, 255, 0);
                    }
                }
                .mat-tab-label.mat-tab-label-active {
                    opacity: 1;
                }
                .mat-tab-label-active {
                    span {
                        color: #000;
                    }
                }
            }
        }
        .chat-box {
            flex: 1;
            display: flex;
            flex-direction: column;
            height: 89%;
            @include breakpoint(lg){
                height: auto;
            }
            .message-wrap {
                flex: 1;
                display: flex;
                flex-direction: column;
                padding: 20px;
                overflow: auto;
                &::-webkit-scrollbar {
                    display: none;
                }
                .message-list {
                    align-self: flex-start;
                    max-width: 40%;
                    @include breakpoint(sm){
                        max-width: 100%;
                        margin-bottom: 16px;
                    }
                    .thumb-sm {
                        width: 60px;
                        height: 36px;
                        margin: 0 0 10px 12px;
                        border-radius: 6px;
                    }
                    .thumb-lg {
                        width: 268px;
                        border-radius: 12px;
                        @include breakpoint(sm){
                            width: 194px;
                        }
                    }
                    .like {
                        position: absolute;
                        bottom: -21px;
                        right: 41px;
                        background: #fcf0ee;
                        font-size: 37px;
                        border-radius: 50%;
                        height: 70px;
                        width: 70px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @include breakpoint(sm){
                            bottom: -11px;
                            right: 77px;
                            font-size: 20px;
                            height: 36px;
                            width: 36px;
                        }
                    }
                    .user {
                        @include user-avatar;
                        margin-right: 12px;
                    }
                    .msg {
                        font-size: 14px;
                        color: $primary-color;
                        background-color: $message-bg;
                        padding: 16px;
                        border-radius: 12px;
                        p {
                            margin: 0;
                        }
                    }
                    .time {
                        text-align: left;
                        color: $secondary-color;
                        font-size: 0.6rem;
                        margin-top: 6px;
                    }
                }
                .message-list.me {
                    align-self: flex-end;
                    .user {
                        @include user-avatar;
                        margin-left: 12px;
                    }
                    .time {
                        text-align: right;
                        color: $secondary-color;
                        font-size: 0.6rem;
                    }
                }
            }
            .message-footer {
                border-top: 1px solid $border-light;
                background-color: #fff;
                padding: 20px;
                display: flex;
                position: sticky;
                bottom: 0;
                @include breakpoint(sm){
                    padding: 8px;
                }
                ::ng-deep {
                    .mat-mini-fab .mat-button-wrapper {
                        padding: 8px 0;
                        display: flex;
                        line-height: 24px;
                        align-items: center;
                        justify-content: center;
                    }
                }
                
                .rotate-icon {
                    mat-icon {
                        transform: rotate(45deg);
                        transition: transform 0.3s ease-in-out;
                    }
                }
                .normal-icon {
                    mat-icon {
                        transform: rotate(0deg);
                        transition: transform 0.3s ease-in-out;
                    }
                }
                input {
                    flex: 1;
                    padding: 0 20px;
                    border-radius: 5px;
                    border: 0;
                    &:focus {
                        outline: 0;
                    }
                    @include breakpoint(sm){
                        padding: 0 8px;
                    }
                }
                .attachments {
                    position: absolute;
                    top: -59px;
                    background: #fff;
                    padding: 6px;
                    border-radius: 6px;
                    border: 1px solid $border-light;
                    color: $secondary-color;
                    font-weight: 400;
                    @include breakpoint(sm){
                        top: unset;
                        bottom: 49px;
                    }
                    &:after {
                        content: "";
                        width: 0;
                        height: 0;
                        border-left: 8px solid #e3000000;
                        border-right: 8px solid transparent;
                        border-top: 10px solid #e8e8e8;
                        position: absolute;
                        bottom: -10px;
                        left: 14px;
                    }
                    ul {
                        display: flex;
                        list-style: none;
                        margin: 0;
                        padding-left: 0;
                        @include breakpoint(sm){
                            display: block;
                        }
                        button {
                            span {
                                font-weight: 400;
                                margin-left: 6px;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
    .head {
        display: flex;
        padding: 20px;
        border-bottom: 1px solid $border-color;
        @include breakpoint(sm){
            padding: 0 20px;
        }
    }
    .users {
        overflow-y: scroll;
        height: 88%;
        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
        li {
            list-style: none;
        }
        .user-box {
            margin: 0 20px 0px;
            padding: 20px 0 8px;
            border-bottom: 1px solid $border-light;
            cursor: pointer;
            .user-details {
                display: flex;
                align-items: center;
                .chat-avatar {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 20px;
                }
                .user-name {
                    font-size: 1.2rem;
                    font-weight: 500;
                    line-height: 23px;
                    color: #535454;
                    width: 255px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .last-msg {
                    font-size: 0.75rem;
                    font-weight: 500;
                    color: $secondary-color;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 255px;
                    height: 38px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    @include breakpoint(sm-lg){
                        max-width: 12px;
                    }
                }
            }
            .bottom-details {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 0.75rem;
                margin-top: 20px;
                color: #484949;
                .replies {
                    display: flex;
                    align-items: center;
                }
                mat-icon {
                    font-size: 16px;
                    height: auto;
                }
            }
        }
    }
}

.current-user {
    background-color: #fdf6f4;
    .user-box {
        border-bottom: 2px solid $primary-color !important;
    }
    .user-name {
        color: $primary-color !important;
    }
}

.user-area-mobile {
    @include hideInDesktop;
    overflow: scroll;
    margin-bottom: 16px;
    .user-mobile {
        padding-left: 0;
        width: 100%;
        display: flex;
        img {
            border-radius: 50%;
            width: 60px;
            height: 60px;
        }
        div {
            margin: 0px;
            border-radius: 50%;
        }
    }
    .head {
        display: flex;
        padding: 16px;
        border-radius: 8px;
        align-items: center;
        overflow: scroll;
        margin-bottom: 16px;
        .current-user {
            background-color: #fdf6f4;
            border: 2px solid #e7877d;
        }
    }
}