<div class="left-side-wrapper">
    <img src="assets/images/user-5.jpg" alt="" class="user-avtar" />
    <div class="user-name">Robin Wang</div>
    <div class="user-quote">
        Life starts at the end of your comfort zone
    </div>

    <div class="navigation-btn">
        <button class="primary-button mt-3">
<mat-icon> chat_bubble</mat-icon> Message
</button>
        <ul>
            <li><button mat-button class="active">Chats</button></li>
            <li><button mat-button class="deactive">Send Message</button></li>
        </ul>

        <button class="white-button mt-3">
            <mat-icon>people_outline</mat-icon> Groups
</button>
        <ul>
            <li><button mat-button class="deactive">History</button></li>
            <li><button mat-button class="deactive">Crete Groups</button></li>
        </ul>

        <button class="white-button mt-3">
            <mat-icon>videocam</mat-icon> Video Calls
</button>
        <ul>
            <li><button mat-button class="deactive">History</button></li>
            <li><button mat-button class="deactive">Calls</button></li>
        </ul>
    </div>
</div>