<div class="left-side-wrapper">
    <div class="position-relative user-avtar">
        <img src="assets/images/user-5.jpg" alt="" />
        <div class="online"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
          </svg></div>
    </div>
    <div class="user-name">Robin Wang</div>
    <div class="user-quote">
        Life starts at the end of your comfort zone
    </div>

    <div class="navigation-btn">
        <button class="primary-button mt-3">
<mat-icon> chat_bubble</mat-icon> Message
</button>
        <ul>
            <li><button mat-button class="active">Chats</button></li>
            <li><button mat-button class="deactive">Send Message</button></li>
        </ul>

        <button class="white-button mt-3">
            <mat-icon>people_outline</mat-icon> Groups
</button>
        <ul>
            <li><button mat-button class="deactive">History</button></li>
            <li><button mat-button class="deactive">Crete Groups</button></li>
        </ul>

        <button class="white-button mt-3">
            <mat-icon>videocam</mat-icon> Video Calls
</button>
        <ul>
            <li><button mat-button class="deactive">History</button></li>
            <li><button mat-button class="deactive">Calls</button></li>
        </ul>
    </div>
</div>