/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #f8f8f8!important;
    font-family: 'Poppins', sans-serif!important;
}

$primary-color: #e7877d;
$secondary-color: #949494;
@mixin button-prop {
    padding: 8px 8px 8px 28px;
    border: 0;
    border-radius: 4px;
    transition: box-shadow ease-in-out .2s;
    display: flex;
    align-items: center;
    width: 100%;
}

.bg-Primary {
    background-color: $primary-color!important;
}

.primary-button {
    background-color: $primary-color;
    color: #fff;
    width: 100%;
    @include button-prop;
    &:hover {
        box-shadow: 0px 1px 8px 0px #e7877d;
    }
    mat-icon {
        margin-right: 16px;
    }
}

.white-button {
    background-color: #fff;
    color: #000000;
    @include button-prop;
    &:hover {
        background-color: #e7877d;
        box-shadow: 0px 1px 8px 0px #e7877d;
        color: #fff;
    }
    mat-icon {
        margin-right: 16px;
    }
}

.active {
    color: $primary-color
}

.deactive,
.text-secondary {
    color: $secondary-color;
}

.title-lg {
    font-size: 1.6rem;
    font-weight: 500;
}

.icon-lg {
    font-size: 2rem;
    height: 32px;
    width: 32px;
}

.submit-button {
    border: 0;
    border-radius: 4px;
    transition: box-shadow ease-in-out .2s;
    display: flex;
    align-items: center;
    background-color: $primary-color;
    color: #fff;
    font-size: 1rem;
    mat-icon {
        margin-right: 0px;
        font-size: 20px;
    }
}